@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400;500;600;700;800&family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
  --ff-main: "Poppins", sans-serif;
  --ff-accent: "Darker Grotesque", sans-serif;

  --clr-primary-400: #ffdd01;
  --clr-primary-800: #6d081b;

  --clr-neutral-100: #fff;
  --clr-neutral-900: #212121;
}

/* RESET CSS */

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
}

/*  UTILITY CLASSES */

.container {
  margin-inline: auto;
  width: min(90%, 70.5rem);
}

.split {
  display: flex;
  flex-direction: column;
}

@media (min-width: 40em) {
  .split {
    flex-direction: row;
    gap: 2em;
  }
  .split > * {
    flex-basis: 100%;
  }
}

/* GENERAL */

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--ff-main);
  font-size: 1.1rem;
  line-height: 1.6;
}

header,
section {
  padding: 3rem 0;
}

h1,
h2,
h3 {
  line-height: 1;
  font-family: var(--ff-accent);
  padding: 0 0 3rem;
}

h2,
h3 {
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.bg-light {
  background-color: var(--clr-neutral-100);
  color: var(--clr-neutral-900);
}
.bg-dark {
  background-color: var(--clr-primary-800);
  color: var(--clr-neutral-100);
}

.btn {
  border: 1px solid var(--clr-neutral-100);
  color: var(--clr-neutral-100);
  padding: 1rem;
  transition: all 300ms ease;
}
.btn:hover {
  color: var(--clr-primary-800);
  background-color: var(--clr-neutral-100);
}

.text-center {
  text-align: center;
  font-size: 4rem;
  font-weight: 600;
}
.text-justify {
  text-align: justify;
}

.container {
  margin-inline: auto;
  width: min(90%, 70.5rem);
}

.split {
  display: flex;
  flex-direction: column;
}

@media (min-width: 40em) {
  .split {
    flex-direction: row;
    gap: 2em;
  }
  .split > * {
    flex-basis: 100%;
  }
}

.underline {
  position: relative;
}
.underline::before {
  content: "";
  position: absolute;
  bottom: -5px;
  right: 0;
  width: 0;
  height: 2px;
  background-color: var(--clr-primary-400);
  transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}
@media (hover: hover) and (pointer: fine) {
  .underline:hover::before {
    left: 0;
    right: auto;
    width: 100%;
  }
}

/* HEADER */

header {
  height: 10vh;
  width: 100%;

  display: flex;
  align-items: center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .logo a {
  color: var(--clr-neutral-100);
  font-size: 2rem;
}
.logo span {
  color: var(--clr-primary-400);
}

nav .links ul {
  display: flex;
  gap: 2rem;
}
nav .links a {
  color: var(--clr-neutral-100);
}

/* MAIN */

.img__reduit img {
  max-height: 400px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

#btn__cta {
  margin-top: 2rem;
}

/* FORMULAIRE */

input[type="submit"] {
  cursor: pointer;
  transition: all 300ms ease;
}
input[type="submit"]:hover {
  color: var(--clr-neutral-100);
  background-color: var(--clr-neutral-900);
}

input {
  background: none;
  border: none;
  font: inherit;

  width: 100%;
  display: block;
  padding: 1rem;

  color: var(--clr-neutral-900);
  border-bottom: 1px solid var(--clr-neutral-900);
}

form {
  margin-inline: auto;
  width: min(100%, 55rem);
}

::placeholder {
  color: var(--clr-neutral-900);
  opacity: 0.8;
}

footer p {
  text-align: center;
  font-family: var(--ff-accent);
  font-weight: 400;
  padding: 1rem 0;
}

/* CONTACT */

.section__contact {
  height: 80.2vh;
  display: flex;
  align-items: center;
}
